//variables
@import '../../assets/scss/vars';

.wrapper {
  background-color: rgba(54, 169, 224, 0.1);
}

.tableHeader {
  padding: 10px;
  border-bottom: 1px solid $grey;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  
  span {
    display: inline-block;
  }
}

.item {
  margin-bottom: 6px;
  border-radius: 3px;
}

.email {
  flex-grow: 1;
  flex-shrink: 0;
}

.number {
  width: 30px;
  min-width: 20px;
  font-weight: bold;
  color: $text;
}

.duration,
.date {
  width: 200px;
  min-width: 200px;
}

@media(max-width: 768px) {
  .tableHeader {
    flex-wrap: wrap;
  }
}
